---
---
<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="refresh" content="0;url=/fr/pricing" />
    <script>window.location.replace('/fr/pricing');</script>
  </head>
  <body></body>
</html>
